#content
  width 1200px
  border-left 1px solid #777
  background-color #252525  
  -webkit-box-shadow 0px -15px 15px -15px #000
  box-shadow 0px -15px 15px -15px #000
  padding-bottom 20px

  table
    padding 0
    border 0
    margin 0
  td 
    border 0
    padding 0

  .main-content
    padding 25px
    width 775px
    font-family Orbitron-Light
    color text-col
  .title
    font-size 22px
    letter-spacing 5px
    font-family Orbitron-Light
  .title-link
    font-size 22px
    letter-spacing 5px
    font-family Orbitron-Light
    color link-col
    &:hover
      color link-hover

  .article
    margin-bottom 20px
    .body
      font-family Junction
      margin-left 5px
      letter-spacing 1px
    .date
      color text-faded
      font-size 12px
    .tags
      margin-left 5px
      color text-faded
      font-size 10px
    .more
      float right
      background-color #0b5a78
      color link-col
      padding 5px 10px
      &:hover
        background-color #ccc
        color #0b5a78
    .author
      float right
    .edit-control
      float right

  .comments
    margin-top 25px
    .title 
      font-size 22px
      letter-spacing 5px
      font-family Orbitron-Light
      color text-col
    .comment
      border-top: 1px solid #e8e8e8;
    .comment-user
      width 100px
      text-align center
      padding 15px 5px
      background-color #333
    .comment-body
      padding 10px
      letter-spacing 1px
      font-family Junction
      .date
        text-align right
    .avatar
      width 50px
      height 50px
      border 2px solid white
    .add-comment-form
      position relative
    .add-comment-btn
      margin-top 10px
      float right
    .add-comment-text
      position relative
      left 235px




.flat-btn
  background-color #0b5a78
  color link-col
  padding 5px 10px
  &:hover
    background-color #ccc
    color #0b5a78

#sidebar
  width 350px
  background-color #222
  .sb-title
    text-align right
    padding 5px 5px 2px 5px
    font-family Orbitron-Light
    font-size 14px
    letter-spacing 3px
    border-top 1px solid #777
    background-color #444
    -webkit-box-shadow 0px 5px 5px -5px rgba(0,0,0,0.75)
    box-shadow 0px 5px 5px -5px rgba(0,0,0,0.75)
    text-transform uppercase


