link-col = #efefef
link-hover = #0076a3
text-col = #efefef
text-faded = #aaa
plain-text-family = Orbitron-Light
header-text-family = Orbitron-Medium

bg-overlay-url-full = url(../img/elin-logo-fullsize.png)
bg-overlay-url-half = url(../img/elin-logo-thirdsize.png)

highlighter-green = #24ff00