// Junction
@font-face
  font-family Junction
  font-style normal
  src url(../fonts/Junction-webfont.ttf)

// Lao MN
@font-face
  font-family Lao
  font-style normal
  src url(../fonts/Lao-MN.ttf)

//////////////////////////////////////////////
// Blackout Fonts - Decorative Fonts
/////////////////////////////////////////////
// Midnight - Black solid color text
@font-face
  font-family Blackout-Midnight
  font-style normal
  src url(../fonts/blackout_midnight-webfont.ttf)
// Sunrise - Black outlined text
@font-face
  font-family Blackout-Sunrise
  font-style normal
  src url(../fonts/blackout_sunrise-webfont.ttf)
// 2 AM - Boxed transparent text
@font-face
  font-family Blackout-TwoAM
  font-style normal
  src url(../fonts/blackout_two_am-webfont.ttf)

//////////////////////////////////////////////
// Orbitron Fonts - Text Fonts
/////////////////////////////////////////////
// Light
@font-face
  font-family Orbitron-Light
  font-style normal
  src url(../fonts/orbitron-light-webfont.ttf)
// Medium
@font-face
  font-family Orbitron-Medium
  font-style normal
  src url(../fonts/orbitron-medium-webfont.ttf)
// Bold
@font-face
  font-family Orbitron-Bold
  font-style normal
  src url(../fonts/orbitron-bold-webfont.ttf)
// Black
@font-face
  font-family Orbitron-Black
  font-style normal
  src url(../fonts/orbitron-black-webfont.ttf)
