#footer
  border-left 1px solid #777
  text-align center
  width 100%
  background-color #1a1a1a
  padding 20px 0px
  img
    padding 0px 10px
  .ft-mongo-logo
    position relative
    top 5px
  p
    color text-col
    font-size 8px
    margin 0
  .tm 
    margin-top 15px