@import bootstrap
@import 'nib'
@import '_fonts'
@import '_constants'
@import '_header'
@import '_slider'
@import '_content'
@import '_footer'

// Sidebar Widgets
@import 'sidebar-widgets/_recruitment-sidebar'
@import 'sidebar-widgets/_nexus-sidebar'
@import 'sidebar-widgets/_progression-sidebar'

body
  background-color #000
  font-family Junction
  color #fff
  image '../img/unity-background-1.png'
  background-size 100% auto
  background-repeat no-repeat

.wrapper
  width 1200px
  margin 0 auto
  padding 20px

.date
  font-size: 11px;
  color: #aaa;

.author
  color: #aaa;

.btn
  outline: none !important;

.center
  text-align: center;

.tags
  margin-top: 10px;

a.tag
  margin: 0 10px 0 0;

.error
  color: #FF2602;

a:hover
  text-decoration none
