#footer
  a(href='http://tera.enmasse.com/',target='_blank')
    img.ft-tera-logo(src='/img/footer/TERA_logo.png',width='200')
  a(href='http://www.bluehole.net/',target='_blank') 
    img.ft-bh-logo(src='/img/footer/Bluehole_logo.png',width='150')
  a(href='http://enmasse.com/',target='_blank')  
    img.ft-eme-logo(src='/img/footer/EnMasse_logo.png',width='250')
  br
  a(href='http://nodejs.org',target='_blank')
    img.ft-node-logo(src='/img/footer/node_logo.png',width='150')
  a(href='http://mongodb.org',target='_blank')
    img.ft-mongo-logo(src='/img/footer/mongodb_logo.png',width='150')
  p.tm TERA™,"TERA:RISING" AND "TERA: THE EXILED REALM OF ARBOREA" ARE TRADEMARKS OF BLUEHOLE STUDIO INC.  THIS IS A FANSITE AND HAS NO AFFILIATION WITH BLUEHOLE STUDIOS INC. OR ENMASSE ENT. 
  p THIS WEBSITE HAS BEEN PROUDLY DEVELOPED WITH EXPRESS ON NODEJS AND MONGODB