head(prefix='og: http://2bitstudios.net')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="unity, tera, guild, clan, lake of tears, unity - lake of tears, recursion, unity guild, recursion guild")
  meta(name="description", content="Guild website for Unity on Lake of Tears, TERA, NA")

  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  //
     Opengraph tags
  meta(property='fb:app_id', content='293989217296609')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Guild website for Unity on Lake of Tears, TERA, NA')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://unity.lakeoftears.co')
  meta(property='og:image', content='http://unity.lakeoftears.co/img/ogimage.png')
  meta(property='og:site_name', content='Unity - Lake of Tears')
  meta(property='fb:admins', content='1037213945')

  // 
    Application stylesheets
  link(rel="stylesheet", href="/stylesheets/jquery.tagsinput.css")
  link(rel='stylesheet', href='/stylesheets/app.css')
  link(rel='stylesheet', href='/stylesheets/flexslider.css')
  //
    HTML5 shim, for IE6-8 support of HTML5 elements
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  script(type='text/javascript', src='/js/lib/jquery.min.js')
  script(type='text/javascript', src='/js/lib/bootstrap.min.js')
  script(type='text/javascript', src='/js/lib/bootbox.js')
  script(type='text/javascript', src='/js/plugins/jquery.tagsinput.min.js')
  script(type='text/javascript', src='/js/plugins/jquery.flexslider.min.js')
  script(type='text/javascript', src='/js/app.js')
  script(type="text/javascript")
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25468002-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
