#slider
	.flex-slider
		ul.slides
			li 
				img(src='/img/featured/TERA_1.jpg')
				p.flex-caption This is a caption
			li 
				img(src='/img/featured/TERA_4.jpg')
				p.flex-caption This is a caption 
			li 
				img(src='/img/featured/TERA_6.jpg')
				p.flex-caption This is a caption
