#nexus-sidebar
  .sb-title time until nexus 
  .sb-content
    #countdown 00:00:00
  script(type='text/javascript', src='/js/nexustimer.js')
  script(type="text/javascript")
    NexusTimer.initialize('#countdown');