#nexus-sidebar
  position relative
  text-align center
  height 80px
  background bg-overlay-url-half 90% 15% no-repeat
#countdown
  position absolute
  left 90px
  top 50px
  color highlighter-green
  font-family Orbitron-Light
  font-size 30px
  letter-spacing 7px