#recruitment-widget
  position relative
  text-align center
  height 80px
  background bg-overlay-url-half 90% 15% no-repeat
  .row2
    position absolute
    top 100px
  ul
    list-style none
    margin 10px 10px
    li 
      float left
      margin 0px 7px
      p 
        font-size 7px
        font-family Orbitron-Light
        letter-spacing 1px
        text-transform uppercase
  .recruitment-open
    color highlighter-green
  .recruitment-closed
    color red
    font-size 4.5px
  .recruitment-limited
    color yellow
    font-size 4.5px
  .icon 
    height 24px
    width 24px
  .warrior-open
    background url(../img/rc-widget/class-icons2.png) 0 0
  .lancer-open
    background url(../img/rc-widget/class-icons2.png) -24px 0
  .slayer-open
    background url(../img/rc-widget/class-icons2.png)  -48px 0
  .berserker-open
    background url(../img/rc-widget/class-icons2.png)  -72px 0
  .sorceror-open
    background url(../img/rc-widget/class-icons2.png) -96px 0
  .archer-open
    background url(../img/rc-widget/class-icons2.png) -120px 0
  .priest-open
    background url(../img/rc-widget/class-icons2.png)  -144px 0
  .mystic-open
    background url(../img/rc-widget/class-icons2.png)  -168px 0
  .warrior-closed
    background url(../img/rc-widget/class-icons2.png) 0 -24px
  .lancer-closed
    background url(../img/rc-widget/class-icons2.png) -24px -24px
  .slayer-closed
    background url(../img/rc-widget/class-icons2.png)  -48px -24px
  .berserker-closed
    background url(../img/rc-widget/class-icons2.png)  -72px -24px
  .sorceror-closed
    background url(../img/rc-widget/class-icons2.png) -96px -24px
  .archer-closed
    background url(../img/rc-widget/class-icons2.png) -120px -24px
  .priest-closed
    background url(../img/rc-widget/class-icons2.png)  -144px -24px
  .mystic-closed
    background url(../img/rc-widget/class-icons2.png)  -168px -24px
  .warrior-limited
    background url(../img/rc-widget/class-icons2.png) 0 -48px
  .lancer-limited
    background url(../img/rc-widget/class-icons2.png) -24px -48px
  .slayer-limited
    background url(../img/rc-widget/class-icons2.png)  -48px -48px
  .berserker-limited
    background url(../img/rc-widget/class-icons2.png)  -72px -48px
  .sorceror-limited
    background url(../img/rc-widget/class-icons2.png) -96px -48px
  .archer-limited
    background url(../img/rc-widget/class-icons2.png) -120px -48px
  .priest-limited
    background url(../img/rc-widget/class-icons2.png)  -144px -48px
  .mystic-limited
    background url(../img/rc-widget/class-icons2.png)  -168px -48px